<div class= "mapEditionScreen">
  <h2>Map size</h2>
  <!-- <div>
    <label>map name: </label>
    <input [(ngModel)]="" placeholder="map name">
  </div>
  <div>
    <label>map type: </label>
    <input [(ngModel)]="" placeholder="map type">
  </div>
  <div>
    <label>description: </label>
    <input [(ngModel)]="" placeholder="description">
  </div> -->
  <h2>This is the space to edit your map</h2>
  <button type="button" (click)="undoLastPoint()">Undo</button>
  <div>
    <canvas class="creationSpace" #editingArea
      [width]="width" 
      [height]="height" 
      (click)="addPoint($event)" 
      (mousemove)="mouseMoved($event)">
    </canvas>
  </div>
</div>