<div class="mapEditionScreen-outer">
  <div class="mapEditionScreen">
    <div class="mapList">
      <div class="tableTitle">Map name</div>
      <div class="maps" *ngFor="let map of maps" [class.selected]="map === selectedMap" (click)="mapSelected(map)">
        <span class="mapNames">{{map.name}}</span>
      </div>
    </div>>
    <div class="mapParameters">
      <table>
        <tbody>
          <tr>
            <td>
              <button (click)="saveMap()" [disabled]="!isMapValid">Save Map</button>
            </td>
          </tr>
          <tr>
            <td>
              <label>Name:</label>
            </td>
            <td>
              <input [(ngModel)]="currentMap.name" placeholder="name" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Type:</label>
            </td>
            <td>
              <select [(ngModel)]="currentMap.type">
                <option *ngFor="let type of mapTypes" value="{{type}}">{{type}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Description:</label>
            </td>
            <td>
              <textarea rows=10 cols=50 [(ngModel)]="currentMap.description" placeholder="name"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="editionArea">
      <h3>This is the space to edit your map</h3>
      <canvas class="creationSpace" #editingArea [width]="width" [height]="height" (click)="clicked($event)" (mousedown)="mouseDown($event)"
        (mouseup)="mouseUp($event)" (contextmenu)="clicked($event)" (mousemove)="mouseMoved($event)">
      </canvas>
    </div>
  </div>
</div>