.mapEditionScreen-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
}

.mapEditionScreen {
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mapParameters {
    flex-grow: 1;
    align-items: flex-start;
}

.editionArea {
    flex-grow: 1;
    align-items: flex-start;
    text-align: center;
}

.creationSpace {
    border: 1.5px solid #000000;
    padding: 25px;
    padding: 0px;
    user-select: none;
}

.mapList {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow: auto;
}

.selected {
    background-color: #00B3FF !important;
    color: #000000;
}


.tableTitle {
    color:#00B7FF;
    background:#FFFFFF;
    border-bottom:4px solid #00AEFF;
    border-right: 1px solid #D4DCDF;
    font-size:20px;
    padding:24px;
    text-align:center;
    font-family: Ubuntu;
    text-shadow: 2px 2px 5px #00B7FF;
  }

  .maps:hover {
    background:#00A2FF;
    color:#FFFFFF;
    border-top: 1px solid #EBF0F8;
  }

  .maps {
    width: 100%;
    background:#FFFFFF;
    text-align:center;
    font-size:18px;
    border-right: 1px solid #D4DCDF;
    font-family: Ubuntu;
    text-shadow: 2px 2px 5px #000000;
  }