#definition-box {
    padding: 18px;
    background: lightblue;
    height: 60vh;
    overflow-y: auto;
}

#word-box {
    padding: 18px;
    background: lightblue;
    height: 60vh;
    overflow-y: auto;
}

.selected {
    background: yellow;
}