<div class='best-time-menu' >
    <h1>{{endViewService.mapName }} top 5 Best time</h1>
    <ol>
        <li *ngFor = 'let bestTime of endViewService.mapBestTimes'>{{bestTime}}</li>
    </ol>
    <div *ngIf = 'endViewService.userIsInMapBestTimes()'>
    <h3>Congratulation, you managed to score in the top 5 best times of the map</h3>
    <input type = 'text' (ngModel) = 'endViewService.userName'/>
    <button (click) = 'endViewService.updateMapBestTime()'>Enter</button>
    </div>
    <button (click) = 'reloadPage()'>Play Again</button>
    <button routerLink='/'>Return Homepage</button>
</div>

