<div class="disclaimer" *ngIf="this.isConfiguringGame"></div>
<div class="outer-menu" *ngIf="this.isConfiguringGame">
  <div class="menu">
    <!--For development-->
      <button (click)="isConfiguringGame = false" style="float: right;">X</button>
    <!-- -->
    <h2 class="text-center">Make a Choice!</h2>
    <div class="menu-page-container">
      <div
        *ngIf="currentState"
        class="menu-page"
        [ngClass]="{'active-page': true}">
        <h4>{{currentState.name}}</h4>
        <table *ngIf="currentState['settings'] != undefined">
          <thead><tr>Settings:</tr></thead>
          <tbody>
            <tr *ngFor="let param of getObjectEntries(currentState['settings'])">
              <td>{{param[0]}}:</td><td>{{param[1]}}</td>
            </tr>
          </tbody>
        </table>
        <button
          *ngFor="let option of currentOptions; let optionId = index"
          (click)="selectOption(optionId)">{{option}}</button>
        <button (click)="stateBack()">Back</button>
      </div>
    </div>
  </div>
</div>