<div class="disclaimer"></div>
<div [ngClass]="['outer-menu']">
  <div class="menu">
    <h2 class="text-center">New game</h2>
    <div class="menu-page-container">
      <div
        *ngIf="currentState"
        class="menu-page"
        [ngClass]="{'active-page': true}">
        <h4>{{currentState.name}}</h4>
        <table *ngIf="currentState['settings'] != undefined">
          <thead><tr>Settings:</tr></thead>
          <tbody>
            <tr *ngFor="let param of getObjectEntries(currentState['settings'])">
              <td>{{param[0]}}:</td><td>{{param[1]}}</td>
            </tr>
          </tbody>
        </table>
        <button
          *ngFor="let option of currentOptions"
          (click)="selectOption(currentOptions.indexOf(option))">{{option}}</button>
        <button (click)="stateBack()">Back</button>
      </div>
    </div>
  </div>
</div>