$crossword-item-size: 50px;
$crossword-dimension: 10;

$color-valid-item: #76C84B;
$color-focus-item: #EDFF71;

.crossword-board-item {
	background: transparent;
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
  	width: $crossword-item-size;
	height: $crossword-item-size;
	border: 1px solid black;

	user-select: none;

	&:active:not(.black-square),
	&:focus:not(.black-square) {
		background: $color-focus-item;
		border: 1px solid #000000;
		outline: 1px solid #000000;
	}
}

.highlighted {
	border: 2px solid rgb(45, 255, 62); //white
}

.playerHighlighted {
	border: 2px solid rgb(0, 47, 255); //lightblue
}

.opponentHighlighted {
	border: 2px solid rgb(255, 0, 0); //red
}

.bothHighlighted {
	border: 2px solid rgb(255, 94, 0); //orange
}

.black-square {
	background: black;
	color: transparent;
}
