$crossword-item-size: 50px;

$color-valid-item: #76C84B;
$color-focus-item: #EDFF71;

.crossword-board-item {
	background: transparent;
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
  	width: $crossword-item-size;
	height: $crossword-item-size;
	border: 1px solid black;

	user-select: none;

	&:active:not(.black-square),
	&:focus:not(.black-square) {
		background: $color-focus-item;
		border: 1px solid #000000;
		outline: 1px solid #000000;
	}
}

.playerFilled {
	background-color: rgb(0, 47, 255);
}

.opponentFilled {
	background-color: rgb(255, 0, 0);
}

.playerHighlighted {
	border: 2px solid rgb(0, 47, 255); //lightblue
}

.opponentHighlighted {
	border: 2px solid rgb(255, 0, 0); //red
}

.bothHighlighted {
	background: repeating-linear-gradient(
		45deg,
		rgb(255, 0, 0),
		rgb(255, 0, 0) 10px,
		rgb(0, 47, 255) 10px,
		rgb(0, 47, 255) 20px
	  );
}

.black-square {
	background: black;
	color: transparent;
}
