$crossword-item-size: 50px;

$color-valid-item: #76C84B;
$color-focus-item: #EDFF71;

$color-player: rgba(0, 47, 255, 0.5);
$color-opponent: rgba(255, 0, 0, 0.5);

$padding-size: 3px;

.crossword-board-item {
	background: transparent;
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
  	width: $crossword-item-size;
	height: $crossword-item-size;
	border: 1px solid black;

	user-select: none;

	&:active:not(.black-square),
	&:focus:not(.black-square) {
		background: $color-focus-item;
		border: 1px solid #000000;
		outline: 1px solid #000000;
	}
}

.playerFilled {
	background-color: $color-player;
}

.opponentFilled {
	background-color: $color-opponent;
}

.bothFilled {
	background: repeating-linear-gradient(
		45deg,
		$color-opponent,
		$color-opponent 6px,
		$color-player 6px,
		$color-player 12px
	  );
}

.playerHighlighted {
	background: linear-gradient(white, white), $color-player;
	padding: $padding-size;
	background-origin: content-box, padding-box;
	background-clip: content-box, padding-box;
}

.opponentHighlighted {
	background: linear-gradient(white, white), $color-opponent;
	padding: $padding-size;
	background-origin: content-box, padding-box;
	background-clip: content-box, padding-box;
}

.bothHighlighted {
	background: linear-gradient(white, white), repeating-linear-gradient(
		-45deg,
		$color-opponent,
		$color-opponent 6px,
		$color-player 6px,
		$color-player 12px
	);
	padding: $padding-size;
	background-origin: content-box, padding-box;
	background-clip: content-box, padding-box;
}

.black-square {
	background: rgba(0, 0, 0, 0.8);
}
