<div class = 'map-rating-menu' >
    <h1>Map Rating</h1>
    <table>
      <thead>
        <tr>
          <th>{{ 'car' }}</th>
          <th>{{ 'tag-name' }}</th>
          <th>{{ 'frequency' }}</th>
          <th></th>
        </tr>
      </thead>
      <!-- <tbody>
          <ng-container *ngFor="let name of timeTable.map">
            <tr *ngFor="let lap of laps; let i=index">
              <td>{{ frequency.value }}</td>
              <td>{{ name }}</td>
              <td>{{ frequency.count }}</td>
            </tr>
          </ng-container>
      </tbody> -->
    </table>
    <!-- <ul>
      <tr *ngFor="let car of timeTable.map(">
        <th *ngFor="let lap of laps">
          {{lap}}
        </th>
      </tr>
    </ul> -->
    <div class = 'five-stars'>
        <img *ngFor = 'let index of [0, 1, 2, 3, 4]' [src] = 'stars[index]' (mouseenter) = 'mouseHoverStar(index)' (mouseleave) = 'mouseOutOfStar()' (click) = 'clickOnStar(index)'>
    </div>
    <button (click) = 'displayBestTimeComponent()'>Next</button>
</div>

