<table>
  <tr>
    <th>Map name</th>
    <th>Map Type</th>
    <th>Map description</th>
    <th>Map average rating</th>
    <th>Map number of times played</th>
    <th>Map thumbnail</th>
  </tr>
  <tr class="maps" *ngFor="let map of maps" [class.selected]="map === selectedMap"
  (click)="mapSelected(map)">
    <td>{{map.name}}</td>
    <td>{{map.type}}</td>
    <td>{{map.description}}</td>
    <td>{{map.sumRatings / map.numberOfRatings}}</td>
    <td>{{map.numberOfPlays}}</td>
    <td><app-map-thumbnail class="thumbnail" [width]="500" [map]="map"></app-map-thumbnail></td>
  </tr>
</table>
<app-map-best-time [map]="selectedMap"></app-map-best-time> 

