.selected {
    background-color: #CFD8DC !important;
    color: white;
}

td, th {
  border: 1px solid black;
  text-align: center;
}

thead {
  display: block;
  position: relative;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
}
