<h1 align="center">
  I am the game selection screen
</h1>

<div class="container-fluid" style="height:100%">
  <div class="row" style="height:100vh">
    <div class="col-lg-6 green text-center" routerLink="crossword" style="height:100%">
      <h2 align="center bottom" routerLink="crossword">Crossword Game</h2>
    </div>
    <div class="col-lg-6 purple text-center" routerLink="racing" style="height:100%">   
  
      <h2 align="center" routerLink="racing">Racing Game</h2>
    </div>
  </div>
</div>
<button routerLink="admin">admin</button>