<div class='table-wrap'>  
  <table>
    <thead>
        <tr>
            <th>Players</th>
            <th>Words Found</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{gameService.playerName}}</td>
            <td>{{playerWordsFound}}</td>
        </tr>
        <tr>
            <td>{{gameService.opponentName}}</td>
            <td>{{opponentWordsFound}}</td>
        </tr>
    </tbody>
  </table>
  <table>
      <tbody>
        <tr>
            <th class='category'>Game Mode</th>
            <td>{{modeName}}</td>
        </tr>
        <tr>
            <th class='category'>Difficulty</th>
            <td>{{difficultyName}}</td>
        </tr>
        <tr>
            <th class='category'>Game Time</th>
            <td>{{timerValue | date:'mm:ss'}}</td>
        </tr>
    </tbody>
  </table>
</div>
