<div class='game-details'>
  <div class='game-info'>
    <ul class='list-game-item'> Word Found : {{playerWordsFound}}</ul>
    <ul class='list-game-item'> Opponent: {{opponentWordsFound}}</ul>
  </div>
  <div class='general-details'>
    <ul class='list-group-item'>Player: {{player1}}</ul>
    <ul class='list-group-item'>Game Mode: {{gameMode}}</ul>
    <ul class='list-group-item'>Difficulty: {{difficulty}}</ul>
    <ul class='list-group-item'>Game Time: {{timerValue | date:'mm:ss'}}</ul>
  </div>
</div>
