#wrapper {
    border: 1px solid black;
    width: 382px;
    height: 382px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
  }
  
  div {
    contentEditable: true;  
  }
  
  .filled {
    width: 38px;
    height: 38px;
    background: black;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    color: black;
  }
  
  .square {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
  }
  .empty {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
  }
  
  .numbered {
    counter-increment: value;
  }
  
  .numbered:nth-of-type(n)::before {
    content: counter(value);
    font-size: 10px;
    position: absolute;
  }