<div class="container" id="crossword-container">
  <div class="row">
    <div class="col-md-8">
      <app-board #gameboard></app-board>
    </div>
    <div class="col-md-4">
      <app-game-details></app-game-details>
      <div>Cheat mode:
        <br> 
        <button (click)='setCheatModeOnOff()'>{{getCheatModeStateText()}}</button>
        <button (click)='setTimerOnOff()'>{{getTimerStateText()}}</button>
        <input #timerInput *ngIf='getTimerState()' type='text' (keyup.enter)='changeTimerValue(timerInput.value)' size='5px'/>
      </div>
      <app-definition-field [cheatMode]='getCheatModeState()' (selectedDefinition)="onSelectedDefinitionChange($event)"></app-definition-field>
    </div>
  </div>
</div>

<app-config-menu *ngIf="gameIsBeingConfigured===true"></app-config-menu>
